:root {
    --black: #000;
    --white: #FFF;
    --red: #ac3734;

    --bg-grey: #303032;

    --transparent: rgba(0, 0, 0, 0);

    --opacity1: rgba(255, 255, 255, .5);
    --opacity2: rgba(48, 48, 49, .5);

    --color1: #F9EFE3;
    --color2: rgba(249, 239, 227, .5);

    --grey1: #F4F4F4;
}

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
	xl: 1280px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
	xl: 1260px
);

$gutter: 30px;