.date-block {
    position: absolute;

    &__date {
        font-size: 210px;
        letter-spacing: -.01em;
        line-height: 1;
        color: var(--transparent);
        -webkit-text-stroke: 1px var(--white);

        &-e {
            font-size: 160px;
        }
    }
    &__sub {
        font-size: 54px;
        line-height: 41px;
        position: absolute;
    }

    @media (min-width:992px) AND (max-width:1300px)
    {
        &__date {
            font-size: 170px;
        }
        &__sub {
            font-size: 34px;
            line-height: 1;
        }
    }
}