.text-big {
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -.01em;

    @media (max-width:991px)
    {
        & {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

.font-beltheder {
    font-family: 'Beltheder', sans-serif;
}

.overflow-hidden {
    overflow: hidden;
}

.speed-50,
.speed-100,
.speed-150 {
    z-index: 10;
    transition: .1s;
    opacity: 0;
}

.bg-size,
.opacity-set {
    transition: .1s;
}

.transform-rotate {
    z-index: 11;
    animation: 7s linear 0s normal none infinite running rot;
    -webkit-animation: 7s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}