.text-big {
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -.01em;
}

.font-beltheder {
    font-family: 'Beltheder', sans-serif;
}

.text-stroke {
    color: var(--transparent);
    -webkit-text-stroke: 1px var(--white);
}