.block-00 {
    height: 1300px;
    background-color: var(--color1);
    position: relative;

    &__block {
        top: 79px;
        left: 50%;
        margin: 0 0 0 69px;
    }
    &__date {
        -webkit-text-stroke-color: var(--red);
    }
    &__sub {
        color: var(--red);
        top: 135px;
        left: 75px;
    }
    &__text {
        color: var(--bg-grey);
        margin: -15px 0 0 75px;
        width: 545px;
        max-width: 37vw;
    }
    &__box {
        position: absolute;
        top: 785px;
        z-index: 2;
        left: 50%;
        width: 448px;
        margin: 0 0 0 -518px;
    }
    &__from {
        font-size: 70px;
        letter-spacing: -.01em;
        color: var(--red);
        line-height: 1;
        margin: 0 0 2px -7px;
    }
    &__name {
        color: var(--red);
        font-size: 32px;
        line-height: 1;
        margin: 0 0 10px;
    }
    &__txt {
        color: var(--bg-grey);
    }
    &__img {

        &1 {
            position: absolute;
            right: 50%;
            margin: 0 31px 0 0;
            top: 133px;
            z-index: 1;
        }
        &2 {
            position: absolute;
            left: 50%;
            top: 426px;
            transform: translate(-50%, 0);
            z-index: 3;
        }
        &3 {
            position: absolute;
            top: 488px;
            left: 50%;
            margin: 0 0 0 241px;
            z-index: 3;
        }
        &4 {
            position: absolute;
            top: 780px;
            z-index: 2;
            left: 50%;
            margin: 0 0 0 32px;
        }
    }
    &__bg {
        position: absolute;
        z-index: 1;
        bottom: 0;
        transform: translateY(50%);
        margin: 0 0 24px;
        min-width: 100%;
    }

    @media (min-width:992px) AND (max-width:1300px)
    {
        & {
            height: 1175px;

            &__block {
                top: 0;
                margin: 0;
            }
            &__sub {
                top: 110px;
            }
            &__text {
                max-width: 41vw;
            }
            &__box {
                top: 700px;
                margin: 0 0 0 -365px;
            }
            &__img {

                &1 {
                    margin: 0 -35px 0 0;
                    top: 180px;
                    max-width: 400px;
                }
                &2 {
                    max-height: 350px;
                    top: 350px;
                    margin: 0 0 0 -30px;
                }
                &3 {
                    top: 685px;
                    margin: 0 0 0 130px;
                    max-width: 350px;
                }
                &4 {
                    top: 500px;
                    margin: 0 0 0 55px;
                    max-width: 350px;
                }
            }
        }
    }
    @media (max-width:991px)
    {
        & {
            height: auto;
            padding: 0 0 157px;

            &__block {
                position: relative;
                top: 0;
                left: 0;
                margin: 0 auto 50px;
                padding: 0 15px;
                max-width: 600px;
            }
            &__date {
                line-height: .8;
            }
            &__sub {
                color: var(--bg-grey);
                top: 79px;
                left: 18px;
            }
            &__text {
                max-width: 100%;
                margin: 7px 0 0;
            }
            &__box {
                position: static;
                margin: auto;
                width: 100%;
                padding: 3px 34px 32px 17px;
                max-width: 600px;
            }
            &__from {
                font-size: 70px;
                letter-spacing: -.01em;
                color: var(--red);
                line-height: 1;
                margin: 0 0 4px 0;
            }
            &__name {
                color: var(--red);
                font-size: 26px;
                line-height: 1;
                margin: 0 0 14px;
            }
            &__img {

                &1 {
                    position: relative;
                    top: 0;
                    margin: 0;
                    right: auto;
                    transform: translate(-50%, 0);
                    left: 50%;
                    max-width: 200%;
                    height: 280px;
                    display: block;
                }
                &2 {
                    max-height: 270px;
                    top: auto;
                    bottom: 5px;
                    margin: 0 0 0 65px;
                }
                &3 {
                    top: auto;
                    bottom: 45px;
                    width: 270px;
                    left: auto;
                    right: 50%;
                    margin: 0 -34px 0 0;
                }
                &4 {
                    position: relative;
                    top: 0;
                    margin: 0;
                    max-width: 200%;
                    height: 280px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    display: block;
                }
            }
            &__bg {
                margin: 0 0 -5px;
            }
        }
    }
    @media (min-width:441px) AND (max-width:767px)
    {
        &__img1,
        &__img4 {
            width: 100%;
            height: auto;
            max-height: 1000%;
            max-width: 1000%;
        }
    }
}