.block-10 {
    height: 1266px;
    position: relative;
    background-color: var(--bg-grey);

    &__block {
        z-index: 2;
        right: 50%;
        width: 665px;
        margin: 0 37px 0 0;
        top: 242px;
        max-width: 37vw;
    }
    &__date {
        -webkit-text-stroke-color: var(--red);
    }
    &__sub {
        color: var(--color1);
        top: 130px;
        left: 35px;

        &-two {
            margin: 0 0 0 18px;
        }
    }
    &__text {
        color: var(--color1);
        margin: 21px 0 0 55px;

        &-red {
            background-color: var(--red);
        }
    }
    &__box {
        position: absolute;
        top: 827px;
        left: 50%;
        margin: 0 0 0 21.2vw;
        width: 370px;
    }
    &__icon {
        position: absolute;
        top: -114px;
        left: 0;
    }
    &__name {
        font-size: 32px;
        line-height: 29px;
        margin: 0 0 12px;
    }
    &__img {

        &1 {
            position: absolute;
            z-index: 1;
            top: 83px;
            left: 50%;
            margin: 0 0 0 -115px;
        }
        &2 {
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 248px;
            margin: 0 0 0 18vw;
        }
        &3 {
            position: absolute;
            z-index: 2;
            top: 377px;
            left: 50%;
            margin: 0 0 0 37px;
        }
        &4 {
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 446px;
            margin: 0 0 0 31vw;
        }
        &5 {
            position: absolute;
            z-index: 1;
            top: 744px;
            left: 50%;
            margin: 0 0 0 -92px;
            max-width: 26vw;
        }
        &6 {
            position: absolute;
            z-index: 1;
            top: 881px;
            right: 50%;
            margin: 0 110px 0 0;
        }
        &7 {
            position: absolute;
            top: 972px;
            left: 50%;
            margin: 0 0 0 -171px;
            z-index: 2;
        }
    }

    @media (min-width:992px) AND (max-width:1300px)
    {
        &__sub {
            top: 110px;
        }
        &__block {
            margin: 0 -45px 0 0;
            top: 140px;
            max-width: 45vw;
        }
        &__box {
            top: 900px;
            width: 47vw;
            margin: 0;
        }
        &__img {

            &1 {
                margin: 0 0 0 110px;
                max-width: 350px;
            }
            &2 {
                top: 350px;
                max-width: 350px;
                margin: 0 0 0 70px;
            }
            &3 {
                margin: 0 0 0 200px;
                max-width: 350px;
                top: 225px;
            }
            &4 {
                max-height: 353px;
                top: 525px;
                margin: 0 0 0 25vw;
            }
            &5 {
                top: 600px;
                margin: 0 0 0 -35vw;
                max-width: 30vw;
            }
            &6 {
                margin: 0 5vw 0 0;
                max-width: 30vw;
            }
            &7 {
                top: 772px;
                margin: 0 0 0 -22vw;
            }
        }
    }
    @media (max-width:991px)
    {
        & {
            height: auto;
            padding: 0 0 97px;

            &__block {
                position: relative;
                max-width: 600px;
                right: auto;
                left: 0;
                top: -27px;
                padding: 0 18px 16px 14px;
                margin: auto;
                width: 100%;
            }
            &__sub {
                top: 92px;
            }
            &__text {
                margin: 25px 0 0 0;
            }
            &__box {
                position: relative;
                top: 0;
                margin: 18px auto 0;
                left: 0;
                width: 100%;
                padding: 0 20px 0 16px;
                max-width: 600px;
            }
            &__icon {
                height: 72px;
                width: 72px;
                top: -81px;
                z-index: 3;
                left: 16px;
            }
            &__name {
                font-size: 26px;
                padding: 0 33px 0 0;
            }
            &__img {

                &1 {
                    position: relative;
                    top: 0;
                    width: 310px;
                    margin: 56px 0 0 -188px;
                    display: block;
                }
                &2 {
                    margin: -54px 0 0 -123px;
                    position: relative;
                    width: 310px;
                    top: 0;
                    display: block;
                }
                &3 {
                    margin: 0 0 0 -7px;
                    top: 60px;
                    width: 262px;
                }
                &4 {
                    top: 876px;
                    height: 213px;
                    margin: 0 0 0 -204px;
                }
                &5 {
                    position: relative;
                    top: -27px;
                    max-width: 310px;
                    display: block;
                    margin: 0 0 0 -120px;
                }
                &6 {
                    position: relative;
                    top: 0;
                    max-width: 310px;
                    margin: 0 0 0 -186px;
                    right: auto;
                    left: 50%;
                }
                &7 {
                    display: none;
                }
            }
        }
    }
    @media (min-width:441px) AND (max-width:991px)
    {
        & {
            padding: 0 0 30px;

            &__img4 {
                top: 700px;
                margin: 0 0 0 -255px;
            }
        }
    }
}