.block-60 {

    &-top {
        background: url(img/bg.60.one.jpg) no-repeat center top / cover;
        height: 850px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: var(--bg-grey);
            opacity: .5;
        }
        &__block {
            right: 50%;
            margin: 0 -467px 0 0;
            top: 446px;
            z-index: 2;
        }
        &__date {
            -webkit-text-stroke-color: var(--white);
        }
        &__sub {
            color: var(--white);
            left: 55px;
            top: 133px;
            max-width: 455px;
        }
        &__text {
            margin: 25px 0 0 55px;
            max-width: 585px;
            color: var(--color1);
        }
    }
    &-bottom {
        position: relative;
        height: 1200px;
        background-color: var(--bg-grey);

        &__img {

            &1 {
                position: absolute;
                left: 50%;
                top: -192px;
                margin: 0 0 0 -594px;
                z-index: 4;
            }
            &2 {
                position: absolute;
                left: 50%;
                top: 10px;
                margin: 0 0 0 -351px;
                z-index: 4;
            }
            &3 {
                position: absolute;
                z-index: 3;
                left: 50%;
                margin: 0 0 0 -603px;
                top: 172px;
            }
            &4 {
                position: absolute;
                z-index: 4;
                left: 50%;
                top: 464px;
                margin: 0 0 0 -164px;
            }
        }
        &__block {
            position: absolute;
            top: 111px;
            left: 50%;
            width: 515px;
            margin: 0 0 0 165px;
            z-index: 2;
            max-width: 35vw;
        }
        &__name {
            font-size: 70px;
            line-height: 56px;
            letter-spacing: -.01em;
            color: var(--red);
            margin: 0 0 28px;
        }
        &__sub {
            font-size: 32px;
            color: var(--white);
            margin: 0 0 24px;
        }
        &__text {
            font-size: 15px;
            line-height: 24px;
            color: var(--color1);

            &-red {
                background-color: var(--red);
            }
        }
        &__set {
            position: absolute;
            z-index: 2;
            top: 305px;
            left: 50%;
            margin: 0 0 0 -703px;
        }
        &__bg {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            bottom: 167px;
            transform: translate(0, 50%);
            min-width: 100%;
        }
    }

    @media (min-width:992px) AND (max-width:1300px)
    {
        &-top {

            &__block {
                top: 346px;
            }
            &__sub {
                top: 110px;
            }
        }
        &-bottom {
            height: 1020px;

            &__block {
                margin: 0 0 0 130px;
            }
            &__img {

                &1 {
                    top: -130px;
                    margin: 0 0 0 -393px;
                    max-width: 350px;
                }
                &2 {
                    top: 25px;
                    margin: 0 0 0 -300px;
                    max-width: 350px;
                }
                &3 {
                    margin: 0 0 0 -370px;
                    max-width: 450px;
                }
                &4 {
                    top: 400px;
                    margin: 0 0 0 -240px;
                    max-width: 350px;
                }
            }
        }
    }
    @media (max-width:991px)
    {
        &-top {
            height: auto;

            &__block {
                position: relative;
                margin: 0;
                padding: 70px 14px 62px;
                right: auto;
                top: 0;
            }
            &__sub {
                color: var(--white);
                left: 15px;
                top: 194px;
                max-width: 455px;
            }
            &__text {
                margin: 49px 11px 0 0;
            }
        }
        &-bottom {
            height: auto;

            &__block {
                position: relative;
                left: auto;
                width: auto;
                top: 0;
                margin: 0;
                max-width: 100%;
                padding: 113px 16px 235px;
            }
            &__name {
                font-size: 32px;
                line-height: 1;
                letter-spacing: 0;
                margin: 0 0 16px;
            }
            &__sub {
                font-size: 26px;
                margin: 0 0 17px;
            }
            &__text {
                font-size: 16px;
                line-height: 20px;
                max-width: 323px;
                letter-spacing: -.01em;
            }
            &__img {

                &1 {
                    position: absolute;
                    margin: 0 0 0 -178px;
                    width: 274px;
                    top: -182px;
                }
                &2 {
                    margin: 0 0 0 -89px;
                    top: -86px;
                    width: 268px;
                }
                &3 {
                    display: block;
                    position: relative;
                    margin: 131px 0 0;
                    max-width: 200%;
                    height: 280px;
                    top: 0;
                    transform: translate(-50%, 0);
                }
                &4 {
                    top: 208px;
                    width: 300px;
                }
            }
            &__set {
                top: 180px;
                margin: 0 0 0 -187px;
                width: 300px;
                opacity: .5;
            }
            &__bg {
                position: absolute;
                z-index: 1;
                left: 0;
                right: 0;
                bottom: 0;
                transform: none;
                min-width: 100%;
            }
        }
    }
}