.block-70 {
    background-color: var(--color1);
    height: 1424px;
    position: relative;

    &__block {
        z-index: 2;
        top: 242px;
        left: 50%;
        margin: 0 0 0 -400px;
        text-align: center;
        width: 800px;
        position: relative;
        z-index: 3;
    }
    &__date {
        -webkit-text-stroke-color: var(--black);
    }
    &__sub {
        color: var(--red);
        position: relative;
        margin: -5px 0 12px;
    }
    &__text {
        color: var(--bg-grey);
        width: 715px;
        margin: auto;
    }
    &__box {
        position: absolute;
        top: 892px;
        left: 50%;
        width: 525px;
        margin: 0 0 0 -512px;
        z-index: 3;
    }
    &__name {
        font-size: 32px;
        color: var(--red);
        margin: 0 0 15px;
    }
    &__txt {
        color: var(--bg-grey);
    }
    &__bg {

        &-one {
            position: absolute;
            top: 533px;
            z-index: 2;
            left: 50%;
            margin: 0 0 0 -628px;
        }
        &-two {
            position: absolute;
            bottom: 116px;
            right: 50%;
            margin: 0 -819px 0 0;
            z-index: 2;
        }
        &-three {
            position: absolute;
            z-index: 1;
            bottom: 0;
            width: 624px;
            height: 356px;
            background-color: var(--bg-grey);
            left: 50%;
            margin: 0 0 0 33px;
            max-width: 33vw;
        }
    }
    &__img {

        &1 {
            position: absolute;
            z-index: 4;
            left: 50%;
            top: 548px;
            margin: 0 0 0 358px;
            max-width: 24vw;
        }
        &2 {
            position: absolute;
            left: 50%;
            top: 777px;
            z-index: 3;
            margin: 0 0 0 6.2vw;
            max-width: 39vw;
        }
        &3 {
            position: absolute;
            bottom: -50px;
            z-index: 4;
            left: 50%;
            margin: 0 0 0 -359px;
        }
        &4 {
            bottom: 29px;
            position: absolute;
            z-index: 3;
            right: 50%;
            margin: 0 -37.8vw 0 0;
        }
    }

    @media (min-width:992px) AND (max-width:1300px)
    {
        & {
            height: 1150px;

            &__block {
                top: 170px;
            }
            &__box {
                top: 690px;
                width: 44vw;
                margin: 0 0 0 -36vw;
            }
            &__bg {

                &-one {
                    top: 333px;
                }
                &-two {
                    display: none;
                }
                &-three {
                    display: none;
                }
            }
            &__img {

                &1 {
                    top: 490px;
                    margin: 0 0 0 110px;
                    max-width: 350px;
                }
                &2 {
                    margin: 0 0 0 12vw;
                    max-width: 34vw;
                }
                &3 {
                    max-width: 350px;
                }
            }
        }
    }
    @media (max-width:991px)
    {
        & {
            height: auto;

            &__block {
                top: -39px;
                width: 100%;
                margin: 0;
                transform: translate(-50%, 0);
            }
            &__sub {
                margin: -12px auto 21px;
                width: 300px;
            }
            &__text {
                width: auto;
                padding: 0 20px;
            }
            &__box {
                position: relative;
                top: 0;
                margin: auto;
                left: 0;
                width: auto;
                padding: 0 16px 130px;
                max-width: 600px;
            }
            &__name {
                line-height: 1;
            }
            &__bg {

                &-one {
                    top: 264px;
                    margin: 0 0 0 -13px;
                    transform: translate(-50%, 0);
                    max-width: 200%;
                    height: 280px;
                }
                &-two {
                    bottom: 0;
                    margin: 0;
                    right: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                }
                &-three {
                    display: none;
                }
            }
            &__img {

                &1 {
                    margin: 0;
                    bottom: 285px;
                    top: auto;
                    max-width: 320px;
                    transform: translate(-50%, 0);
                }
                &2 {
                    position: relative;
                    top: 0;
                    height: 280px;
                    max-width: 200%;
                    margin: 0 0 57px;
                    transform: translate(-50%, 0);
                }
                &3 {
                    margin: 0 0 0 -17px;
                    bottom: -54px;
                    top: auto;
                    max-width: 320px;
                    transform: translate(-50%, 0);
                }
                &4 {
                    bottom: 32px;
                    margin: 0 -225px -29px 0;
                    width: 151px;
                    z-index: 4;
                }
            }
        }
    }
    @media (min-width:441px) AND (max-width:767px)
    {
        &__img1 {
            bottom: 65vw;
        }
        &__img2 {
            width: 100%;
            height: auto;
            max-height: 1000%;
            max-width: 1000%;
        }
    }
    @media (min-width:768px) AND (max-width:991px)
    {
        &__block {
            top: 65px;
            max-width: 600px;
        }
        &__bg-two {
            display: none;
        }
    }
}