.block-start {
    text-align: center;
    padding: 247px 0 222px;
    background: var(--bg-grey) url(img/bg.start.jpg) no-repeat top/cover;
    position: relative;

    &__title {
        font-size: 144px;
        line-height: 115px;
        max-width: 1200px;
        margin: auto;
        -webkit-text-stroke: 1px var(--white);
        color: var(--transparent);

        &-count {
            font-size: 164px;
            line-height: 115px;
            letter-spacing: -.08em;
        }
    }
    &__line {
        height: 1px;
        width: 432px;
        background-color: var(--color1);
        margin: 60px auto 37px;
    }
    &__text {
        font-size: 39px;
        line-height: 46px;
        color: var(--color1);
        width: 900px;
        margin: auto;
    }
    &__dot {
        height: 8px;
        width: 8px;
        background-color: var(--color1);
        position: absolute;
        top: 925px;
        left: 50%;
        transform: rotate(45deg) translate(-50%, 0);
    }
    &__str {
        border: 1px solid var(--color1);
        height: 42px;
        width: 42px;
        position: absolute;
        left: 50%;
        transform: rotate(45deg) translate(-50%);
        top: 1023px;
        margin: 0 0 0 -7px;

        &:before {
            content: "";
            border-right: 1px solid var(--color1);
            border-bottom: 1px solid var(--color1);
            height: 20px;
            width: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: -4px 0 0 -4px;
        }
    }

    @media (min-width:992px) AND (max-width:1300px)
    {
        &__title {
            font-size: 98px;
            line-height: 90px;
        }
        &__text {
            font-size: 34px;
            line-height: 38px;
            width: 820px;
        }
        &__dot {
            height: 8px;
            width: 8px;
            background-color: var(--color1);
            top: 810px;
        }
        &__str {
            border: 1px solid var(--color1);
            height: 42px;
            width: 42px;
            top: 925px;
            top: 940px;
            margin: 0 0 0 -7px;
        }
    }
    @media (max-width:991px)
    {
        & {
            padding: 136px 0 0;
            height: 667px;

            &__title {
                font-size: 54px;
                line-height: 58px;
                max-width: 600px;

                &-count {
                    font-size: 64px;
                    line-height: 58px;
                }
            }
            &__line {
                width: 274px;
                margin: 20px auto 15px;
            }
            &__text {
                font-size: 16px;
                line-height: 23px;
                width: 350px;
                margin: auto;

                br {
                    display: none;
                }
            }
            &__dot {
                top: 533px;
            }
            &__str {
                top: 614px;
            }
        }
    }
}