.main-header {
    position: absolute;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    right: 0;
    top: 0;
    padding: 44px 180px 0 107px;

    &__logo {
        margin: 0 12px 0 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    &__share {
        margin: -14px 0 0;
    }
    &__btn {
        display: none;
    }

    @media (min-width:992px) AND (max-width:1300px)
    {
        & {
            padding: 44px 50px 0;
        }
    }
    @media (max-width:991px)
    {
        & {
            padding: 20px 25px 0;

            &__logo-img {
                max-height: 50px;
            }
            &__share {
                display: none;
            }
            &__btn {
                display: block;
            }
        }
    }
}