<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>75 лет великой истории</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header__logos">
            <img src="./local/img/logo1.svg" alt="" class="main-header__logo">
            <img src="./local/img/logo2.svg" alt="" class="main-header__logo">
        </div>
        <div class="main-header__share">
            <div class="share-block">
                <a href="javascript:;" class="share-block__link">
                    Поделиться
                    <span class="share-block__str"></span>
                </a>
            </div>
        </div>
    </header>
    <nav class="main-nav main-nav_hide font-beltheder">
        <a href="#id40" data-color="white" class="main-nav__link">
            1940-е
            <span class="main-nav__str line-dot line-dot_left"></span>
        </a>
        <a href="#id50" data-color="black" class="main-nav__link">
            1950-е
            <span class="main-nav__str line-dot line-dot_left"></span>
        </a>
        <a href="#id60" class="main-nav__link">
            1960-е
            <span class="main-nav__str line-dot line-dot_left"></span>
        </a>
        <a href="#id70" class="main-nav__link">
            1970-е
            <span class="main-nav__str line-dot line-dot_left"></span>
        </a>
        <a href="#id80" class="main-nav__link">
            1980-е
            <span class="main-nav__str line-dot line-dot_left"></span>
        </a>
        <a href="#id90" class="main-nav__link">
            1990-е
            <span class="main-nav__str line-dot line-dot_left"></span>
        </a>
        <a href="#id00" class="main-nav__link">
            2000-е
            <span class="main-nav__str line-dot line-dot_left"></span>
        </a>
        <a href="#id10" class="main-nav__link">
            2010-е
            <span class="main-nav__str line-dot line-dot_left"></span>
        </a>
        <a href="#id20" class="main-nav__link">
            2020-е
            <span class="main-nav__str line-dot line-dot_left"></span>
        </a>
    </nav>
    <main class="main-main">
        <div class="block-start font-beltheder">
            <div class="block-start__title text-stroke">
                <span class="block-start__title-count">75</span> ЛЕТ ВЕЛИКОЙ ИСТОРИИ
            </div>
            <div class="block-start__line line-dot line-dot_left line-dot_right"></div>
            <div class="block-start__text">
                В 2021 году наш хоккей празднует 75-летие.<br>
                Его история представляет собой яркую летопись громких побед и выдающихся достижений,<br>
                о которых можно рассказывать бесконечно.<br>
                Мы отобрали лишь несколько знаковых событий, ставших вехами этого славного пути.
            </div>
            <div class="block-start__dot"></div>
            <div class="block-start__str"></div>
        </div>
        <div class="block-40" id="id40">
            <div class="block-40__top">
                <div class="block-40__top-date text-stroke font-beltheder">
                    1940<span class="block-40__top-date-e">-е</span>
                </div>
                <div class="block-40__top-sub font-beltheder">
                    Канадская забава покоряет СССР
                </div>
                <div class="block-40__top-text text-big">
                    Хоккей с шайбой попал в Россию еще до революции, но долго не мог составить конкуренцию хоккею с мячом. Изредка матчи проводились и в 1930-е годы, также без особого успеха. По-настоящему эта игра обрела популярность к 1946 году, когда было принято решение провести чемпионат СССР.
                </div>
            </div>
            <div class="block-40__bottom">
                <div class="block-40__bottom-date font-beltheder">
                    1946
                </div>
                <div class="block-40__bottom-sub font-beltheder">
                    Начало большого пути
                </div>
                <div class="block-40__bottom-text">
                    22 декабря 1946 года считается датой зарождения хоккея с шайбой в нашей стране. В этот день в Москве, Ленинграде, Риге, Каунасе и Архангельске стартовал первый чемпионат СССР, в котором приняли участие 12 команд. Турнир продлился чуть больше месяца и завершился 26 января победой московского «Динамо».
                </div>
            </div>
            <img src="./local/img/block40.1.jpg" alt="" class="block-40__img1">
            <img src="./local/img/block40.2.jpg" alt="" class="block-40__img2">
            <img src="./local/img/block40.3.jpg" alt="" class="block-40__img3">
            <img src="./local/img/block40.pech.png" alt="" class="block-40__pech">
        </div>
        <div class="block-50" id="id50">
            <div class="block-50__bg-one"></div>
            <img src="./local/img/block50.1.jpg" alt="" class="block-50__img1">
            <div class="block-50__top">
                <div class="block-50__top-date text-stroke font-beltheder">
                    1950<span class="block-50__top-date-e">-е</span>
                </div>
                <div class="block-50__top-sub font-beltheder">
                    Первые международные успехи
                </div>
                <div class="block-50__top-text text-big">
                    Популярность хоккея росла так стремительно, что ему стало тесно<br>
                    в границах страны. Выход на мировую арену выдался успешным: сборная СССР в 1954 году с первой попытки выиграла дебютный чемпионат мира. Это дало огромный толчок к развитию игры<br>
                    и положило начало регулярным противостояниям с иностранными командами в официальных и товарищеских матчах.
                </div>
            </div>
            <div class="block-50__bottom">
                <div class="block-50__bottom-date font-beltheder">
                    1956
                </div>
                <div class="block-50__bottom-sub font-beltheder">
                    Олимпийское золото Кортины
                </div>
                <div class="block-50__bottom-text">
                    Отстоять титул чемпионов мира в 1955 году советские хоккеисты не сумели, зато годом позже добились триумфа на Зимних Олимпийских играх в Кортина д’Ампеццо. Доминированию родоначальников хоккея, канадцев, пришел конец, в истории игры началась новая, наша эпоха.
                </div>
            </div>
            <div class="block-50__bg-two"></div>
            <img src="./local/img/block50.2.png" alt="" class="block-50__img2">
            <img src="./local/img/block50.3.jpg" alt="" class="block-50__img3">
        </div>
    </main>
</body>
</html>